<div class="userPost">
    <div id="postCard" class="card">
        <h1>{{this.title}}</h1>
        <p>{{this.content}}</p>
        <h3>{{this.user}}</h3>
    </div>
    <form class="comment">
        <textarea name="commentContent" id=""></textarea>
        <button class="btn btn-success">click to add a comment</button>
    </form>
</div>